@import "../../../../styles/variables.scss";

.details{
    @include pageBasics;

    h1{
        @include title;
    }
    p{
        @include text;
    }

    &_head{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: relative;
        width: 100%;
        gap: $spacing0_5;

        &Title{
            width: min(80%, 700px);
        }
        &Button{
            position: absolute;
            bottom: 0;
            right: 0;
            min-width: 159px;
            min-height: 30px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
    
    &_body{
        display: flex;
        flex-direction: column;
        gap: $spacing0_5;
        padding-bottom: $spacing2;
        & p, & h3{
            font-family: $font;
        }
        & > p{
            font-size: 1.1rem;
            margin-top: $spacing;
        }
        
        & > div{
            width: min(80vw, 600px);
        }

        & > button{
            width: min(80vw, 300px);
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        &Item{
            display: flex;
            flex-direction: column;
            gap: calc($spacing0_5 - 10px);
            p{
                font-size: 1rem;
            }
        }
        &Text{
            font-size: 1rem;
            margin: 0;
            padding: 0;
        }
        &Label{
            font-size: 1.2rem;
            width: min(80vw, 400px);
        }
        &Row{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: $spacing0_5;
            align-items: center;
            min-width: 200px;
        }

        &Button{
            width: fit-content;
            margin-bottom: $spacing2;
        }
    }
    &_warranties{
        display: flex;
        flex-direction: column;
        gap: 10px;
        &Title{
            font-size: 1.4rem;
        }   
        p{
            font-size: 1.2rem;
        }
    }
    &_finalDetails{
        background-color: rgba($primary, 0.2);
        border-radius: $radiusOuter;
        padding: $spacing;
        display: flex;
        flex-direction: column;
        gap: $spacing0_5;

        h3{
            @extend .details_warrantiesTitle;
        }
        p{
            line-height: 1.5;
        }
    }
    &_back{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: $spacing0_5;
        cursor: pointer;

        h4{
            font-family: $font;
            transition: all 0.2s cubic-bezier(0.6,0.6,0,0.1);
        }

        svg{
            transform: translateX(0px);
            transition: all 0.2s cubic-bezier(0.6,0.6,0,0.1);
        }
        
        &:hover{
            svg{
                transform: translateX(-10px);
                transition: all 0.2s cubic-bezier(0.6,0.6,0,0.1);
            }
        }
    }
}

.flag{
    border-radius: 5px;
    margin-right: 15px;
    display: inline;
    width: 25px;
    height: 25px;
    overflow: hidden;
    object-fit: cover;
    &Container{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }
}

@media (max-width: 768px){
    .details{
        padding: 0 $spacing0_5;
        &_head{
            &Title{
                width: calc(100% - $spacing);
            }
            &Button{
                position: relative;
                width: calc(50% - $spacing - $spacing);
                justify-content: space-between;
                margin-top: $spacing;
            }
        }
        &_body{
            &Item{
                p{
                    font-size: 1rem;
                }
            }
            &Label{
                font-size: 1rem;
            }
            &Row{
                align-items: flex-start;
                flex-wrap: wrap;
                gap: $spacing0_5;
            }
            &Button{
                width: 50%;
                margin-bottom: $spacing2;
            }
        }
    }
}