:root {
  --color-primary: #0066ff;
  --color-secondary: #A1C7FF;
  --color-text: #171717;
  --color-background: #f9f9f9;
  --color-placeholder: #707070;
}

body {
  margin: 0;
  background-color: var(--color-background);
}

h2 {
  font-size: 2rem;
}

h3{
  font-size: 1.75rem;
}

p {
  font-size: 1rem;
}

@media (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }

  p {
    font-size: 1.5rem;
  }
}
