:root {
  --color-primary: #0066ff;
  --color-text: #171717;
  --color-background: #f9f9f9;
  --color-placeholder: #707070;
}

body {
  margin: 0;
  background-color: var(--color-background);
}

h1 {
  font-size: 2rem;
  margin:  2rem 0 4rem 0;
}

p {
  font-size: 1rem;
  /* margin:  1.5rem 0 3rem 0; */
}

@media (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }

  p {
    font-size: 1.5rem;
  }
}
