@import "../../styles/variables.scss";

.profile{
    @include pageBasics;
    padding-bottom: 20px;
    &_header{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;

        h1{
            @include title;
        }

        p{
            @include text;
            margin-top: $spacing0_5;
            text-align: left;
        }
    }

    &_actions{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: $spacing;
        gap: $spacing0_5;
        button{
            height: auto;
        }
    }

    &_table{
        width: calc(100% - #{$spacing2});
        &Head{
            display: grid;
            grid-template-columns: 15% 35% 15% 15% 15%;
            width: 100%;
            justify-content: space-between;
            padding: 0 $spacing;

            h3{
                font-weight: 400;
                font-family: $font;
                opacity: 0.5;
                font-size: 1.2rem;
            }
        }
        &Body{
            margin-top: $spacing0_5;
            display: flex;
            flex-direction: column;
            gap: $spacing0_5;
        }
        &Row{
            display: grid;
            grid-template-columns: 15% 35% 15% 15% 15%;
            width: 100%;
            padding: $spacing;
            background-color: $background2;
            border-radius: $radiusOuter;
            justify-content: space-between;

            &TX{
                text-decoration: underline;
                color: $text;
                opacity: 0.5;
            }

            p{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                color: $text;
                font-family: $font;
                font-size: 1rem;
            }

            &Button{ 
                margin-left: auto;
                background-color: $background3; 
                color: $text;
                text-decoration: none;
                border-radius: $radius; 
                padding: 10px $spacing0_5; 
                font-family: $font; 
                font-size: 1rem;  
                font-weight: 700; 
                gap: 10px; 
                display: flex; 
                align-items: center; 
                justify-content: center;
                border: none;
                transition: all 0.2s ease-in-out;

                &:hover{
                    background-color: lighten($background3, 10%);
                    color: $text;
                    border: none;
                    transition: all 0.2s ease-in-out;
                }
            }

            &Timeline{
                display: flex;
                grid-column: 1 / -1;
            }

            &Reveal{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                grid-column: 1 / -1;
                gap: $spacing0_5;   
                margin-top: $spacing;
                font-family: $font;
                &Input{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 1rem;
                    input{
                        height: 50px;
                        padding: 0 1rem;
                    }
                }
                button{
                    align-self: flex-end;
                    height: 100%;
                    height: 50px;
                }
                & > input{
                    background-color: $background3;
                    box-sizing: border-box;
                    &:focus{
                        box-sizing: border-box;
                        border: 2px dashed $primary;
                        outline: none;
                    }
                }
            }
        }

        &Status{
            grid-column: 1 / -1;
            grid-template-columns: 15% 35% 15% 15% 15%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            gap: $spacing0_5;
            margin-top: $spacing0_5;
            p{
                font-size: 1rem;
                font-family: $font;
                color: $text;
                opacity: 0.5;
            }
        }
    }
    &_listItemButton{
        margin-left: auto;
        background-color: $background3; 
        color: $text;
        text-decoration: none;
        border-radius: $radius; 
        padding: 10px $spacing0_5; 
        font-family: $font; 
        font-size: 1rem;  
        font-weight: 700; 
        gap: 10px; 
        display: flex; 
        align-items: center; 
        justify-content: center;
        border: none;
        transition: all 0.2s ease-in-out;

        &:hover{
            background-color: lighten($background3, 10%);
            color: $text;
            border: none;
            transition: all 0.2s ease-in-out;
        }
    }
    &_title{
        font-size: 1.3rem;
        margin-top: $spacing;
    }
    &_slider{
        margin-top: $spacing2;
        margin-bottom: $spacing0_5;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        //background-color: $background2;
        border-radius: $radiusOuter;

        & > div{
            font-family: $font;
            border-radius: calc($radiusOuter - (0.5rem / 2));
            transition: all 0.2s ease-in-out;
            cursor: pointer;
        }
        
        &Default{
            background-color: rgba($background2, 0.5);
            padding: 1rem 2rem;
            transition: all 0.2s ease-in-out;
            font-size: 1.2rem;
        }
        &Selected{
            font-size: 1.2rem;
            background-color: rgba($primary, 0.2);
            font-weight: 700;
            color: $primary;
            padding: 1rem 3rem;
            transition: all 0.2s ease-in-out;
        }
    }
}

.line{
    width: 100%;
    height: 10px;
    background-color: rgba($primary, 0.2);
    margin: $spacing;
}

.profile{
    &_tenderDetails{
        background-color: rgba($background2, 0.5);
        padding: $spacing;
        border-radius: $radiusOuter;
        margin-left:  $spacing0_5;
        margin-bottom: $spacing;
        width: calc(100% - $spacing0_5);

        & > h3{
            font-size: 1.6rem;
        }
    }
}