@import "..//styles/variables.scss";

.button{
    &_link{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;

        padding: 0.5rem 1rem;
        border-radius: $radius;
        color: $text;
        font-family: $font;
        font-size: 1rem;
        font-weight: 400;
        text-decoration: none;

        transition: all 0.2s ease-in-out;

        &:hover{
            font-weight: 700;
            transition: all 0.2s ease-in-out;
        }
    }

    &_alt{
        cursor: pointer;

        display: flex;
        flex-direction: row;
        align-items: center;
        gap: $spacing0_5;
        padding: 0.625rem $spacing;
        
        border: 3px solid rgba($accent, 0.2);
        border-radius: $radiusOuter;
        background-color: rgba($accent, 0.3);
        
        font-family: $font;
        font-size: 1rem;
        font-weight: 700;
        color: $accent;
        transition: all 0.2s ease-in-out;

        &:hover{
            border: 3px solid rgba($accent, 0.4);
            background-color: rgba($accent, 0.4);
            transition: all 0.2s ease-in-out;
        }
    }

    &_main{
        @extend .button_alt;
        color: $background;
        background-color: $accent;

        &:hover{
            color: $background;
            background-color: darken($accent, 10%);

            transition: all 0.2s ease-in-out;
        }
    }

    &_connected{
        display: inline-flex;
        flex-direction: row;
        gap: $spacing0_5;
        align-items: center;
        justify-content: space-between;
        border: none;
        margin-left: auto;

        &Address{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
        }

        & > button{
            @extend .button_alt;
            color: $text;
            background-color: $background2;
            border: none;
            padding: none;
            min-width: 202px;
            justify-content: center;

            &:hover{
                color: $text;
                background-color: $background2;
                border: none;
                padding: none;

                transition: all 0.2s ease-in-out;
            }

            & > div{
                display: flex;
                flex-direction: row;
                align-items: center;

                padding: 0;
            }
        }
    }
}

.drawer{
    overflow: hidden;
    position: fixed;
    right: 0;
    top: -10px;
    padding: $spacing;
    height: calc(100vh - $spacing2);
    z-index: 999;
    background-color: $background;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: $spacing;

    &_title{
        font-size: 2rem;
        font-family: $headingFont;
        color: $text;
    }
    &_button{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        gap: $spacing0_5;
        button{
            @extend .button_main;
            word-wrap: none;
            overflow: hidden;
            
            width: min(500px, 80vw);
            background-color: $background2;
            color: $text;
            border: none;
            transition: all 0.2s ease-in-out;
            height: 60px;

            &:hover{
                background-color: $accent;
                color: $background;
                border: none;
            }
        }
    }

    &_download{
        width: 100%;
        margin-top: auto;
        a{
            opacity: 0.5;
            display: flex;
            align-items: center;
            justify-content: space-between;

            color: $text;
            font-family: $font;
            gap: $spacing0_5;

            transition: all 0.2 ease-in-out;

            &:hover{
                opacity: 1;
                transition: all 0.2 ease-in-out;
            }
        }
    }

    &_close{
        @extend .button_main;
        font-size: 1.5rem;
        
    }


    &Overlay{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($text, 0.2);
        backdrop-filter: blur(5px);
        z-index: 998;
    }
}