@import "../../styles/variables.scss";

.marketplace{
    @include pageBasics;

    &_header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
 
        h1{
            @include title;
        }
        p{
            @include text;
            margin-top: 40px;
        }
    }

    &_filters{}

    &_list{
        display: flex;
        flex-direction: column;
        width: calc(100% - #{$spacing2});
        gap: $spacing0_5;
        &Header{
            display: grid;
            grid-template-columns: 15% 35% 15% 15% 15%;
            width: 100%;
            justify-content: space-between;
            padding: 0 $spacing;

            h3{
                font-weight: 400;
                font-family: $font;
                opacity: 0.5;
                font-size: 1.2rem;
            }
        }
        &Item{
            display: grid;
            grid-template-columns: 15% 35% 15% 15% 15%;
            width: 100%;
            padding: $spacing;
            background-color: $background2;
            border-radius: $radiusOuter;
            justify-content: space-between;

            &TX{
                text-decoration: underline;
                color: $text;
                opacity: 0.5;
            }

            p{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                color: $text;
                font-family: $font;
                font-size: 1rem;
            }

            &Button{ 
                margin-left: auto;
                background-color: $background3; 
                color: $text;
                text-decoration: none;
                border-radius: $radius; 
                padding: 10px $spacing0_5; 
                font-family: $font; 
                font-size: 1rem;  
                font-weight: 700; 
                gap: 10px; 
                display: flex; 
                align-items: center; 
                justify-content: center;
                border: none;
                transition: all 0.2s ease-in-out;

                &:hover{
                    background-color: lighten($background3, 10%);
                    color: $text;
                    border: none;
                    transition: all 0.2s ease-in-out;
                }
            }
        }
    }
}