* {
  margin: 0;
  padding: 0;
}

*::selection {
  background-color: #171717;
  color: #eee;
}

*::-moz-selection {
  background-color: #171717;
  color: #eee;
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.5rem;
}

html::-webkit-scrollbar-track {
  background-color: #eee;
}

html::-webkit-scrollbar-thumb {
  background-color: #171717;
}

:root {
  --color-primary: #0066ff;
  --color-secondary: #a1c7ff;
  --color-text: #171717;
  --color-text-dark: #a1c7ff;
  --color-background: #f9f9f9;
  --color-background-dark: #001029;
  --color-placeholder: #707070;
}

.hide_mobile{
  @media (max-width: 768px) {
    display: none;
  }
}

/* @import url("https://fonts.cdnfonts.com/css/satoshi");
@import url("https://fonts.cdnfonts.com/css/tasa-explorer"); */

body {
  margin: 0;
  background-color: var(--color-background);
  line-height: 1.15;
}

h2 {
  font-family: var(--font-tasa);
  font-size: 3.5rem;
  @media only screen and (max-width: 680px) {
    font-size: 2rem;
  }
}

h3 {
  font-family: var(--font-tasa);
  font-size: 2.5rem;
  @media only screen and (max-width: 680px) {
    font-size: 1.75rem;
  }
}

h4{
  font-family: var(--font-tasa);
}

label,
input {
  font-family: var(--font-satoshi);
}

button {
  font-family: var(--font-tasa);
}

p {
  font-family: var(--font-satoshi);
  font-size: 1.5rem;
  @media only screen and (max-width: 680px) {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }

  p {
    font-size: 1.5rem;
  }
}

svg .svg-elem-1 {
  stroke-dashoffset: 328.77154541015625px;
  stroke-dasharray: 328.77154541015625px;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
}

svg.active .svg-elem-1 {
  stroke-dashoffset: 0;
  stroke-dasharray: 328.77154541015625px;
}

svg .svg-elem-2 {
  stroke-dashoffset: 222.4750213623047px;
  stroke-dasharray: 222.4750213623047px;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s;
}

svg.active .svg-elem-2 {
  stroke-dashoffset: 0;
  stroke-dasharray: 222.4750213623047px;
}

svg .svg-elem-3 {
  stroke-dashoffset: 1426.045166015625px;
  stroke-dasharray: 1426.045166015625px;
  transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s;
}

svg.active .svg-elem-3 {
  stroke-dashoffset: 0;
  stroke-dasharray: 1426.045166015625px;
}