$headingFont: var(--font-tasa);
$font: var(--font-satoshi);

$radius: 0.5rem;
$radiusOuter: 0.75rem;

$spacing: 1.88rem;
$spacing2: 3.75rem;
$spacing0_5: 1.5rem;

$background2: #EFEFEF;
$background3: #F9F9F9;
$linear: linear-gradient(180deg, #F9F9F9 0%, #F9F9F9 0.01%, #E5E5E5 100%);

$primary: #0066ff;
$secondary: #a1c7ff;
$text: #171717;
$text-dark: #a1c7ff;
$background: #f9f9f9;
$background-dark: #001029;
$background-grey: #dddddd;
$background-grey-light: #dddddd90;
$placeholder: #707070;
$success: #52B788;
$danger: #ff411F;

@mixin pageBasics(){
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: $spacing;
    gap: $spacing;
    padding: 0 $spacing2;
}

@mixin title(){
    font-family: $headingFont;
    font-size: 2.5rem;
    font-weight: 700;
    color: $text;
}

@mixin subtitle(){
    font-family: $headingFont;
    font-size: 2rem;
    font-weight: 700;
    color: $text;
}

@mixin text(){
    font-family: $font;
    font-size: 1rem;
    font-weight: 400;
    color: $text;
    font-size: 1.2rem;
}
