$headingFont: var(--font-tasa);
$font: var(--font-satoshi);

$radius: 0.5rem;
$radiusOuter: 0.75rem;

$spacing: 1.88rem;
$spacing2: 3.75rem;
$spacing0_5: 1.5rem;

// $accent: #0066FF;
// $text: #171717;
// $background: #F9F9F9;
$background2: #DDD;
$background3: #EEE;
$linear: linear-gradient(180deg, #F9F9F9 0%, #F9F9F9 0.01%, #E5E5E5 100%);
// $placeholders: #707070;

$primary: #0066ff;
$secondary: #a1c7ff;
$text: #171717;
$text-dark: #a1c7ff;
$background: #f9f9f9;
$background-dark: #001029;
$placeholder: #707070;